html {
  height: 100%;
  width: 100%;
}

body {
  height: calc(100% - 2em);
  width: calc(100% - 2em);
}

.i-body {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.text-center {
    text-align: center!important;
}

.f-12 {
  font-size: 12px;
}

.btn {
  width: 80%;
  align-self: center;
  display: flex !important;
  justify-content: center;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.icon-menu {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
}

.a-r {
  text-align: end;
}

.a-c {
  text-align: center;
}

.c-principal {
  padding-bottom: 40px;
}

.bold {
  font-weight: bold;
}

.size-2 {
  font-size: 1rem;
  text-transform: uppercase;
}