<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Cadastro de Eventos e Convidados - Login</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
   <body class="text-center highlight i-body">
        <main class="form-signin">
            <h1 class="h3 mb-3 fw-normal">Login</h1>
            <p class="mb-3">entre com suas credenciais</p>
            <form action="/login" method="post" class="pb-5">
                <div class="mb-3">
                    <label for="nome" class="form-label"></label>
                    <input type="text" class="form-control" id="nome" name="usuario[nome]" placeholder="usuário" />
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label" placeholder="senha"></label>
                    <input type="password" class="form-control" id="senha" name="usuario[senha]" />
                </div>
                <!-- <button type="submit" class="btn btn-primary btn-lg">entrar</button> -->
                <button class="w-100 btn btn-lg btn-primary" type="submit">entrar</button>
                <p class="mt-5 mb-3 f-12 text-muted">© Sistema de Cadastro de Eventos e Convidados</p>
            </form>
        </main>
   </body>
</html>